.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem .dialog{
    padding: 10px;
    color: white;
}

.messages  {
    padding: 10px
}

.messages .message{
    color: white;
}